<div class="main">
	<ul>
		<% for( var i = 0; i < games.length; i++ ) {%>
			<li class='gameTemplate'>
				<div class="gameImage">
					<img class="center-block img-responsive" src='<%= games[i].imageUrl %>'>
				</div>
				<label><%= games[i].name %></label>
				<small class="pull-right"><%= games[i].minPlayers %> to <%= games[i].maxPlayers %> players </small>
				<hr/>
				<p><%= games[i].description %></p>
				<a href="game/lounge/<%= games[i].id %>" class="btn btn-sm pull-right">play</a>
			</li>
		<% } %>
	</ul>
</div>