<div class="main">
	<ul>
		<% for( var i = 0; i < games.length; i++ ) {%>
		<li class='gameTemplate'><%= games[i] %>
		<i src='<%= games[i].image %>'/>
			<label><%= games[i].name %></label>
			<p><%= games[i].description %></p>
			<input type='button' data-game='<%= games[i].Id %>'/>
			</li>
			<% } %>
		</ul>
	</div>
</div>