<div class="main" id="gameInstanceView">
    <div style="border: 2px solid black; margin-bottom: 15px; padding: 10px;" class="row">
    	<div class="col-md-3"><img class="img-responsive" src='<%= game.imageUrl %>'></div>
    	<div class="col-md-9">
    		<h1 style="margin-bottom: 10px;"><%= game.name %></h1>
    		<p><%= game.description %></p>
    	</div>
	</div>

    <div id='newGameDialogBtn' class="btn btn-default" data-toggle="collapse" data-parent="accordion" href="#newGame">Create a new game!</div>

    <div id='newGame' class="collapse" >
        <form class="form-inline" role="form" style="border: 2px solid black; margin-bottom: 15px; padding: 10px;">
          <input id='gameId' type='hidden' value='<%=game.id %>'/>
          <div class="form-group">
            <label class="sr-only" for="newGameName">Game Name</label>
            <input class="form-control" id="newGameName" placeholder="name">
          </div>
          <div class="checkbox">
            <label>
              <input id='newGameIsPublic' type="checkbox"> public
            </label>
          </div>
          <div id='newGameBtn' class="btn btn-default pull-right" style="margin: 0">Create</div>
        </form>
    </div>    

    <div id='gameInstances'>
        <div class="input-group">
              <input type="text" class="search form-control" placeholder="search"/>
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
        
        <hr/>

        <div style="font-weight: bold;" class="row">
            <div class="col-md-2">Name</div>
            <div class="col-md-2">Status</div>
            <div class="col-md-7">Players</div>
        </div>
        
        <ul style="margin-top: 2px" class="list">
            <% for( var i = 0; i < gameInstances.length; i++ ) {%>
                <li class="row gameInstance" style="padding: 5px; border: 1px solid black;">
                    <div style="line-height:2" class="col-md-2 gameInstanceName"><%= gameInstances[i].name %></div>
                    
                    <div style="line-height:2" class="col-md-2"> 
                        <%if (gameInstances[i].status) { %> 
                            <%= gameInstances[i].status %> 
                        <% } else { %>  
                            unknown
                        <% } %>
                    </div>
                    
                    <div data-gameInstanceId="<%= gameInstances[i].id %>" 
                         style="line-height:2" 
                         class="col-md-7 gameInstancePlayer">
                         <%= gameInstances[i].playerIds.length %> player 
                         <%if (gameInstances[i].playerIds.length != 1) { %>
                         s
                         <% } %>
                    </div>

                    <%if (!_.contains(gameInstances[i].playerIds, req.session.passport.user.id)) { %>
                        <div data-gameInstanceId="<%= gameInstances[i].id %>" class='btn pull-right join-button'>join</div>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
</div>
